{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}

    <div class="mdl-layout mdl-js-layout mdl-color--grey-100">
        <main class="mdl-layout__content">
            <div class="demo-container mdl-grid">
                <div class="mdl-cell mdl-cell--4-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>

                <div class="mdl-card mdl-shadow--6dp">
                    <div class="mdl-card__title mdl-color--primary mdl-color-text--white">
                        <h2 class="mdl-card__title-text">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        {% if error %}
                            <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
                        {% endif %}
                        <form action="{{ path("fos_user_security_check") }}" method="post" class="form-signin">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                            <div class="mdl-textfield mdl-js-textfield">
                                <input class="mdl-textfield__input form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" autofocus placeholder="{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}"/>
                                <label class="mdl-textfield__label" for="username">Username</label>
                            </div>
                            <div class="mdl-textfield mdl-js-textfield">
                                <input class="mdl-textfield__input form-control" type="password" id="password" name="_password" required="required" placeholder="{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}"/>
                                <label class="mdl-textfield__label" for="password">Password</label>
                            </div>

                            <div class="mdl-card__actions">
                                <div style="display: inline-block;">
                                <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" />
                                </div>
                                <div style="display: inline-block; vertical-align: bottom;  margin-left: 10px;">
                                <label for="remember_me" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                                <input type="checkbox" id="remember_me" name="_remember_me" value="on" class="mdl-checkbox__input">
                                <span class="mdl-checkbox__label" style="font-size: 14px;">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</span></label> 
                                </div>
                            </div>
                        </form>
                    </div>

                    <a href="{{ path("fos_user_registration_register") }}" class="mdl-button">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
                </div>

            </div>
        </main>
    </div>    

{% endblock fos_user_content %}
